---
import Layout from '@/layouts/Layout.astro';
import Confirm from '@/components/modes/cashier/Confirm.svelte';
import ProductList from '@/components/modes/cashier/ProductList.svelte';
import ProductSelector from '@/components/modes/cashier/ProductSelector.svelte';
import ProductSettings from '@/components/modes/cashier/ProductSettings.svelte';
---

<Layout title="Helium: Cashier Mode">
    <div class="grid grid-cols-3 gap-4 h-full p-4">
        <div class="col-span-1 h-full overflow-hidden">
            <ProductSelector client:load class="h-full" />
        </div>
        <div class="col-span-1 h-full">
            <ProductSettings client:load class="h-full" />
        </div>
        <div class="col-span-1 grid grid-rows-[2fr_1fr] gap-4 h-full">
            <div class="row-span-1 overflow-hidden">
                <ProductList client:load class="h-full" />
            </div>
            <div class="row-span-1 overflow-hidden">
                <Confirm client:load class="h-full" />
            </div>
        </div>
    </div>
</Layout>
