---
import "../styles/global.css";
import Navbar from "../components/Navbar.svelte";
import { ClientRouter } from "astro:transitions";

const { title = "Helium" } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			// This script workaround the white screen issue on Tauri
			// when the app is opened for the first time.
			// It waits for the DOM to be fully loaded before showing the window.
			import { getCurrentWebviewWindow } from "@tauri-apps/api/webviewWindow";
			getCurrentWebviewWindow()
        		.show()
        		.then(() => {});
		</script>
		<ClientRouter />
	</head>
	<body class="bg-gray-800 text-gray-900 flex flex-col h-full">
		<Navbar transition:persist />
		<main class="flex-grow overflow-y-auto min-h-0">
            <slot />
        </main>
	</body>
</html>

<style is:global>
    /* Basic reset */
    html, body {
        margin: 0;
        padding: 0;
    }
    /* Removed nav rule as it's handled inline */
</style>
